<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light pink scrolling-navbar ie-nav" >
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Spotify</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light">
                <a routerLink="/homepage" routerLinkActive="active" class="nav-link">Home </a>
            </li>
            <li class="nav-item waves-light">
                <a routerLink="/signin" routerLinkActive="active" class="nav-link">Login</a>
            </li>
            <li class="nav-item waves-light">
                <a routerLink="/signup" routerLinkActive="active" class="nav-link">Signup</a>
            </li>
        </ul>
        <form class="form-inline waves-light">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>
</mdb-navbar>
<!-- Main -->