<main>
  <div class="container">
    <div class="row mt-5 pt-5">
      <div class="col text-center">
          <h5>Welcome to Spotify. Signin and Listen Musics.</h5>
          <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <mat-card>
          <mat-card-title class="text-center">
            Sign In
            <hr>
          </mat-card-title>
          <mat-card-content>
            <form [formGroup]="loginForm">
              <mat-form-field>
                <input
                  matInput 
                  placeholder="Email"
                  name="email"
                  formControlName="email"
                  >
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="(loginForm.get('email').invalid && loginForm.get('email').touched) || loginForm.get('email').dirty">
                  <mat-error *ngIf="loginForm.get('email').errors?.required">
                    Email is required
                  </mat-error>
                  <mat-error *ngIf="loginForm.get('email').errors?.pattern">
                    Invalid Email
                  </mat-error>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput 
                  placeholder="Password"
                  type="password"
                  name="password"
                  formControlName="password"
                  >
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="(loginForm.get('password').invalid && loginForm.get('password').touched) || loginForm.get('password').dirty">
                  <mat-error *ngIf="loginForm.get('password').errors?.required">
                    Password is required
                  </mat-error>
                </mat-error>
              </mat-form-field>
              <button
                mat-raised-button
                class="cyan login-button"
                (click)="login()"
              >
              Sign In
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</main>